@model Wallet.Models.DBViewModels.BankReportViewModel


@if (Model.Transactions != null && Model.Transactions.Count() != 0)
{
    <table class="table table-bordered table-hover">
        <thead>


            <tr class="text-center" style="background-color: #0094ff">
                <th>Row Number</th>
                <th>Bank Name</th>
                <th>Transacion Value</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                decimal transactioValue = 0;
                decimal balance = Model.BankInitialValue;
            }

            @foreach (var row in Model.Transactions)
            {
                <tr id="row-@row.Id">
                    <td>@(i++)</td>
                    <td>@row.WalletAndBank.Name</td>
                    @if (row.TransationValue > 0)
                    {
                        <td style="color: #00ff21"> &uArr; @(transactioValue = row.TransationValue)</td>

                    }
                    else if (row.TransationValue < 0)
                    {
                        <td style="color: #ff0000"> &dArr; @(transactioValue = row.TransationValue)</td>

                    }
                    else if (row.TransationValue == 0)
                    {
                        <td> @(transactioValue = row.TransationValue)</td>
                    }
                    <td>@(balance = balance + transactioValue)</td>
                </tr>

            }
        </tbody>
    </table>


}
else if (Model.Transactions == null || Model.Transactions.Count() == 0)
{

    <p class="text-center text-danger">
        There are no data to Privew
    </p>

}
